### `Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [1]:
list1: list[str] = ["M", "na", "i", "Kh"]
list2: list[str] = ["y", "me", "s", "an"]

[[list1, list2] for list1, list2 in zip(list1, list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [44]:
num_list_y: list[list | int] = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
num_list_y[2][2].append(7000)
num_list_y

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [45]:
num_list_z = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

num_list_z.pop(2).pop(2).pop(1)

6000

###  `Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [48]:
candy_list: list[str] = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items: list[int] = [10,20,34,74,32]

[ (i, j) for i, j in zip(candy_list, no_of_items) ]

[('Jelly Belly', 10),
 ('Kit Kat', 20),
 ('Double Bubble', 34),
 ('Milky Way', 74),
 ('Three Musketeers', 32)]

In [52]:
candy_list: list[str] = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items: list[int] = [10,20,34,74,32]

for i in candy_list:
    for j in no_of_items:
        print(i, j, sep='-')

Jelly Belly-10
Jelly Belly-20
Jelly Belly-34
Jelly Belly-74
Jelly Belly-32
Kit Kat-10
Kit Kat-20
Kit Kat-34
Kit Kat-74
Kit Kat-32
Double Bubble-10
Double Bubble-20
Double Bubble-34
Double Bubble-74
Double Bubble-32
Milky Way-10
Milky Way-20
Milky Way-34
Milky Way-74
Milky Way-32
Three Musketeers-10
Three Musketeers-20
Three Musketeers-34
Three Musketeers-74
Three Musketeers-32

In [56]:
candy_list: list[str] = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items: list[int] = [10,20,34,74,32]

for i, j in zip(candy_list, no_of_items):
    print(i, j, sep='-')

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

### `Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [64]:
num_list: list[int] = [1, 2, 3, 4, 5, 6]
running_sum: list[int] = []
temp: int = 0

for i in num_list:
    temp += i
    running_sum.append(temp)


print(running_sum)

[1, 3, 6, 10, 15, 21]

### `Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
num_list: list[int] = [2,4,6,10,1]
output_list: list[int] = []


for i in num_list:
    total_sum: int = 0
    for j in  num_list:
        if i <=j:
            total_sum += j
        
    output_list.append(total_sum)
        
        
print(f'Your num list {num_list} \n Output list is {output_list}')

Your num list [1, 2]
 Output list is [3, 5]

### `Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
num_1: list[int] = [23,45,67,78,89,34]
num_2: list[int] = [34,89,55,56,39,67]

In [257]:
# Write code here
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]

common = []

for i in num1:
  if i in num2:
    if i not in common:
      common.append(i)
      common.sort()

print(common)

[34, 67, 89]

In [258]:
num_1: list[int] = [1, 2, 3]
num_2: list[int] = [3, 5,]

unique_items_list: list[int] = []

for i in num_1:
    unique_items_list.append(i)
    for j in num_2:
        unique_items_list.append(j)
        if j in unique_items_list:
            unique_items_list.remove(j)
            unique_items_list.sort()        

print(unique_items_list)

[1, 2, 3]

### `Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [259]:
list_of_words: list[str] = ['CampusX is a channel', 'for data-science', 'aspirants.']
separated_letter: str = 'a'
output_list: list[str] = []

for i in list_of_words:
    output_list.extend(i.split(separated_letter))

output_list

['C', 'mpusX is ', ' ch', 'nnel', 'for d', 't', '-science', '', 'spir', 'nts.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [260]:
matrix_letters: list[list | str] = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
output_list: list[list | str] = [ " ".join ("".join(i) for i in matrix_letters)]

output_list

['campux is best channel']

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# initializing list
test_list = ["campusxIs", "bestFor", "dataScientist"]

res = []

for i in test_list:
    temp = [[]]
    for char in i:

        if char.isupper():
            temp.append([])

        temp[-1].append(char)

    temp_string = ""
    for item in temp:
        temp_string = temp_string + "".join(item) + " "
    res.append(temp_string[0:-1])

print(res)

['campusx Is', 'best For', 'data Scientist']

In [242]:
words: list[str] = ['campusxIs', 'bestFor', 'dataScientist']

output_list: list[str] = []


for i in words:
    output_list.extend(i.split())


output_list

['campusxIs', 'bestFor', 'dataScientist']

In [241]:
words: list[str] = ['campusxIs', 'bestFor', 'dataScientist']

output_list: list[str] = []


for i in words:
    if i.isupper():
        output_list.extend(i.split())
    print(i)

output_list

campusxIs
bestFor
dataScientist

[]

In [239]:
words: list[str] = ['campusxIs', 'bestFor', 'dataScientist']

output_list: list[str] = []


for i in words:
    output_list.extend(i.split(i.isupper()))
    print(i)

output_list

TypeError: must be str or None, not bool

In [235]:
words: list[str] = ['campusxIs', 'bestFor', 'dataScientist']

output_list: list[str] = [i for i in words if i.extend(i.split(i.isupper())) ]

AttributeError: 'str' object has no attribute 'extend'

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [300]:
num_1: list[int] = [1, 2, 3]
num_2: list[int] = [3, 4, 5]
union_list: list[int] = []

for i in num_1:
    
    if i not in union_list:
        union_list.append(i)
        union_list.sort()
    
    if j not in union_list:
        union_list.append(j)
        union_list.sort()
        

print(union_list)

[1, 2, 3, 5]

In [293]:
num_1: list[int] = [1, 2, 3]
num_2: list[int] = [3, 4, 5]
union_list: list[int] = []

for i in num_1:
    union_list.append(i)
    for j in num_2:
        if j in union_list:
            union_list.append(j)

print(union_list)

[1, 2, 3, 3]

In [ ]:
# Intersection of two matrix

num_1: list[int] = [1, 2, 3]
num_2: list[int] = [3, 4, 5]
union_list: list[int] = []

for i in num_1:
    if i in num_2:
        if i not in union_list:
            union_list.append(i)
            
print(union_list)

[3]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [115]:
# Write code here
L = [[1,2,3],[4,5,6],[7,8,9]]
result = []

for i in L:
  result.append(max(i))

print(result)

[3, 6, 9]

In [120]:
input_matrix: list[list[int]] = [ [1,2,3],[4,5,6],[7,8,9] ]
output_list: list[int] = []


for i in input_matrix:
    output_list.append(max(i))
    
print(output_list)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [90]:
[ i for i in range(0, 3)]

[0, 1, 2]

In [91]:
[ i for row in range(0, 3)]

[3, 3, 3]

In [105]:
[ [ 3*i + j for j in range(0, 3)] for i in range(0, 3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [73]:
input_matrix: list[list] = [ [1,2,3], [4,5,6], [7,8,9] ]

output_list: list[int] = [ i for i in input_matrix]

output_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
input_matrix: list[list] = [ [1,2,3], [4,5,6], [7,8,9] ]

output_list: list[int] = [ i for row in input_matrix]

output_list

[3, 3, 3]

In [65]:
input_matrix: list[list] = [ [1,2,3], [4,5,6], [7,8,9] ]

output_list: list[int] = [ i for row in input_matrix for i in range(len(input_matrix))]

output_list

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [67]:
input_matrix: list[list] = [ [1,2,3], [4,5,6], [7,8,9] ]

output_list: list[int] = [ [i for row in input_matrix ]for i in range(len(input_matrix))]

output_list

[[0, 0, 0], [1, 1, 1], [2, 2, 2]]

In [66]:
input_matrix: list[list] = [ [1,2,3], [4,5,6], [7,8,9] ]

output_list: list[int] = [ [row[i] for row in input_matrix ] for i in range(len(input_matrix))]

output_list

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

input_matrix: list[list] = [ [1,2,3],[4,5,6],[7,8,9] ]
output_list: list[int] = []

for i in input_matrix:
    output_list.extend(i)
   
output_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
input_matrix: list[list] = [ [1,2,3],[4,5,6],[7,8,9] ]
output_list: list[int] = [item for row in input_matrix for item in row]
output_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]