# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [42]:

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
output_list = []
unique = []

for i in test_list:
    unique.append(i[0])
    
unique = set(unique)


for i in unique:
    output_list.append([i])

    for j in test_list:
        if j[0] == i:
            output_list[-1].append(j[1])

print(unique)
print(output_list)
print(list(map(tuple, output_list)))

{5, 6, 7}
[[5, 6, 7, 8], [6, 10], [7, 13]]
[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [61]:
# write your code here
t = (1, 5, 7, 8, 10)

L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
  L.append(t[i]*t[i-1] + t[i]*t[i+1])

L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

In [ ]:
t:tuple[int] = (1, 2, 3)

l: list[int] = []

l.append(t[0]*t[1])

for i in range(1, len(t)-1):
    l.append(t[i]*t[i-1] + t[i]*t[i+1])
    
l.append(t[-1]*t[-2])

print(tuple(l))

(2, 8, 6)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [65]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)

for i in t1:
    if i in t2:
        print('Same')
    else:
        print('Not Same')
    break

Same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [8]:
list_1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

for i in list_1:
    print(i)

{'bye', 'hi'}
{'forGeeks', 'Geeks'}
('a', 'b')
['hi', 'bye']
['a', 'b']

In [18]:
list_1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
count_sets: int = 0
count_lists: int = 0
count_tuples: int = 0

for i in list_1:
    if type(i) == set:
        count_sets += 1
        
    elif type(i) == list:
        count_lists += 1
    else:
        count_tuples += 1
        
print(f'No of Tuples : {count_tuples} \n No of Sets : {count_sets} \n No of list : {count_lists}')

No of Tuples : 1
 No of Sets : 2
 No of list : 2

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
students_db: list[str | int] = []

# how many records insert
num: int = int(input('Enter the number of records : '))

# insert into list
for i in range(num):
    print(f'Enter details of {i+1} applicants. ')
    name: str = input('Enter the Name :')
    h_edu: str = input('Enter the Higher Education : ')
    p_skill: str = input('Enter the Primary skill : ') 
    year: int = input('Enter the year of Graduation :')
    
    students_db.append((name, h_edu, p_skill, year))
   
# requirement check 
rqd_skill: str = input('Enter required skill : ')
rqd_h_edu: str = input('Enter required Higher Education :')
rqd_year: int = input('Enter the year of Graduation :')

flag = False
for i in students_db:
    if i[1] == rqd_h_edu and i[2] == rqd_skill and i[3] == rqd_year:
        print(f'This is match\n students Name is {name}, skills are {p_skill}, Higher Education is {h_edu}, pass out in {year}')
    flag = True
    
if flag == False:
    print('No such Candidates Found !')

Enter details of 1 applicants.
This is match
 students Name is rudra, skills are ml, Higher Education is b.tech, pass out in 2026

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [85]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]


ar1 = set(ar1)
ar2 = set(ar2)
ar3 = set(ar3)

ar1.intersection(ar2).intersection(ar3)

{20, 80}

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [137]:
str_1 = "RuUdraA"

count_lower_unique_vowels =  0
count_upper_unique_vowels =  0

for i in str_1:
    
    if i.lower() and i in ['a','e', 'i', 'o', 'u']:
        count_lower_unique_vowels += 1
        
    if i.upper() and i in ['A', 'E', 'I', 'O', 'U']:
        count_upper_unique_vowels += 1
        
        
print(f"Your Unique and Lower letters present in string is {count_lower_unique_vowels} \n ")

print(f"Your Unique and Upper letters present in string is {count_lower_unique_vowels}")

Your Unique and Lower letters present in string is 2

Your Unique and Upper letters present in string is 2

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [9]:
num = "01010101"

if len(set(num)) == 2:
    print('Binary')
else:
    print('Not a Binary')

Binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [10]:
matrix = [
    [1, 2, 2, 4, 3, 6],
    [5, 1, 3, 4],
    [9, 5, 7, 1],
    [2, 4, 1, 3]
 ]

new = set()

for i in matrix:
    new.update(i)

print(new)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [12]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
 
[ i for i in lst1 if i in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [17]:
test_dict = {
    "CampusX" : [5, 7, 9, 4, 0], 
    "is" : [6, 7, 4, 3, 3],
    "Best" : [9, 9, 6, 5, 5]
    }

max_val = 0
max_key = ''

for i in test_dict:

    if max_val < len(set(test_dict[i])):
        max_val = len(set(test_dict[i]))
        max_key = i
        
    

print(max_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [10]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

temp = []

for i in test_str.split():
    if i in repl_dict:
        temp.append(repl_dict[i])
    else:
        temp.append(i)
        
print(" ".join(temp))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [13]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)

rev = []

for i in range(0, n, 2):
    rev.append({key_list[0]: test_list[i],
                key_list[1]: test_list[i+1]})
    
print(rev)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [24]:
test_dict = [("akash", 10), ("gaurav", 12), ("anand", 14),
            ("suraj", 20), ("akhil", 25), ("ashish", 30)]

new_dict = {}

for i in test_dict:
    new_dict.update(test_dict)

print(new_dict)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [14]:
L1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
L = [('A', 1), ('B', 2), ('C', 3)]

d = {}

for i,j in L:
  d[i] = [j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [15]:
test_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

rev = {}

for i in sorted(test_dict):
    rev[i] = sorted(test_dict[i])

print(rev)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}