Hello Data points ðŸ˜„


# My Class Notes

**By Rudra**

> Hi everyone, these are my class notes from one of my favorite teachers, Nitesh sir.



Class- [Link](#https://www.youtube.com/live/6HAu0Y9BjA4?si=6HF0QfFb3cBxvPye)

Supplementary video - [Link](#https://youtu.be/7ltjqU5iytY?si=sG0t_tDrx9IRTLIa)

<!--
**Topic**
- [String Question](#Question)
-->

### Sequence sum..

1/1! + 2/2! + 3/3! ... nth

In [1]:
n = int(input('Enter a number :\n'))

sum = 0

for i in range(1, n+1):
    sum = sum + 1

print(sum)

5

In [9]:
n = int(input('Enter a number :\n'))
print(f'Your Enter number is {n} \n')
sum = 0
fact = 1

for i in range(1, n+1):
    fact = fact * i
    sum = sum + (i/fact)

print(f'Your Total sum of this sequence is {sum}')

Your Enter number is 5

Your Total sum of this sequence is 2.708333333333333

# Nested Lopps

In [ ]:
# pairing 

for i in range (1, 3):
    for j in range (1, 5): 
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4

## Pattern 1

https://pythontutor.com/visualize.html#mode=edit

*`

**`

***`

****`

In [13]:
# user input 
n = int(input('Enter the number of star you want : \n'))
print(f'Your enter number is {n}\n')

# loops
for i in range(1, n+1):
    for j in range(1, i+1):
        print(i)

Your enter number is 5

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

In [14]:
# user input 
n = int(input('Enter the number of star you want : \n'))
print(f'Your enter number is {n}\n')

# loops
for i in range(1, n+1):
    for j in range(1, i+1):
        print('*', end='')

Your enter number is 5

***************

In [15]:
# user input 
n = int(input('Enter the number of star you want : \n'))
print(f'Your enter number is {n}\n')

# loops
for i in range(1, n+1):
    for j in range(1, i+1):
        print('*', end='')
    print()

Your enter number is 5

*
**
***
****
*****

## pattern 2
https://pythontutor.com/visualize.html#mode=edit

1

121

12321

1234321

In [ ]:
# step 1
# 
# # user input 
n = int(input('Enter the number of star you want : \n'))
print(f'Your enter number is {n}\n')

# loops
for i in range(1, n+1):
    for j in range (1, i+1):
        print(j, end='')
    print()

Your enter number is 4

1
12
123
1234

In [22]:
# step 2 

# user input 
n = int(input('Enter the number of star you want : \n'))
print(f'Your enter number is {n}\n')

# loops
for i in range(1, n+1):
    for j in range (1, i+1):
        print(j, end='')
    for k in range(i-1, 0, -1):
        print(k, end='')
        
    print()

Your enter number is 4

1
121
12321
1234321

# Loop Control Statement

- continue
- pass
- break

#### continue

In [25]:
# continue

for i in range(1, 11):
  if i == 6:
    print('___ Which number is not in series')
    continue
  print(i)

1
2
3
4
5
___ Which number is not in series
7
8
9
10

#### pass

In [26]:
# continue

for i in range(1, 11):
  if i == 6:
    print('___ Which number is not in series')
    break
  print(i)

1
2
3
4
5
___ Which number is not in series

In [29]:
# does primary number is ?

lower_range = int(input('enter the Lower number :'))
upper_range = int(input('enter the Lower number :'))

for i in range(lower_range, upper_range+1):
    for j in range(2, i):
       if i % j == 0:
           break
    else:
        print(i)

1
2
3
5
7
11

In [ ]:
# don't show the error 

for i in range(12):
    pass

In [33]:
# when using while and when using for in text

# Use "while" when you want to loop based on a condition.
# Example: Print numbers from 1 to 5
count = 1
while count <= 5:
  print(count)
  count += 1

# Use "for" when you want to iterate over a sequence (like a string).
# Example: Print each character in a string
text = "Hello"
for char in text:
  print('\n',char)

1
2
3
4
5

 H

 e

 l

 l

 o

# Strings are sequence of Charaters

[Link of why ](#https://docs.python.org/3/howto/unicode.html)

In python specifically, strings are a sequence of Unicode Characters

- Creating
- Accessing
- Adding chars
- Editing
- Deleting
- Oprations
- String Functions

### Creating strings

In [ ]:
a = 'Rudra'
print(a)

b = "Rudra"
print(b)

c = '''Rudra'''
print(c)

### Accessing Substrings

In [34]:
# Postive Indexing
# in python counting start from the 0

a = 'Hello World' 
print(a[0])

H

In [35]:
# Negative Indexing
a = 'Hello World'
print(a[-1])

d

In [36]:
#Slicing

a = 'Hello World'
print(a[0:6])

Hello

In [37]:
# if you are use -ve indexing then the first number is > second number
# 6 > 0

a = 'Hello World'
print(a[6:0:-2])

Wol

In [38]:
# Reverse the Line

print(a[::-1])

dlroW olleH

### Editing & Deleting

In [ ]:
# python strings are immutable

a = 'Hello World'
a[0] = 'k'

TypeError: 'str' object does not support item assignment

In [43]:
# deleting
s = 'Hello world'
del s
s

NameError: name 's' is not defined

In [44]:
s = 'Hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

### Operations

In [46]:
print('Hello'+' '+'world')

Hello world

In [ ]:
print('Love_you_' * 5) # five times string

Love_you_Love_you_Love_you_Love_you_Love_you_

In [48]:
'Delhi' == 'Odisha'

False

In [56]:
'Delhi' != 'Odisha'

# we compare the word in lexicographically

True

In [51]:
'Delhi' > 'Odisha'

False

In [ ]:
'Delhi' and 'Odisha' 

# empty is false
# string is True

'Odisha'

In [60]:
'Delhi' or 'Odisha'

'Delhi'

In [ ]:
'' and 'Odisha' # false and true -> false

''

In [62]:
'' or 'Odisha'

'Odisha'

In [ ]:
not '' # empty is false

True

In [ ]:
not 'Rudra' # value is True

False

In [ ]:
for i in 'Hello_Data':
  print(i)

H
e
l
l
o
_
D
a
t
a

In [ ]:
# total char of odisha

for i in 'Odisha':
  print('Hi..')

Hi..
Hi..
Hi..
Hi..
Hi..
Hi..

### Common Functions
- len
- max
- min
- sorted

In [63]:
len('Rudra Prasad Bhuyan')

19

In [64]:
max('Rudra Prasad Bhuyan')

'y'

In [65]:
min('Rudra Prasad Bhuyan')

' '

In [66]:
sorted('Rudra Prasad Bhuyan', reverse=True)

['y',
 'u',
 'u',
 's',
 'r',
 'r',
 'n',
 'h',
 'd',
 'd',
 'a',
 'a',
 'a',
 'a',
 'R',
 'P',
 'B',
 ' ',
 ' ']

- Capitialize
- title
- upper
- lower
- swapcase

In [67]:
a = 'Rudra prsad bhuyan'
a.capitalize()

'Rudra prsad bhuyan'

In [ ]:
a.title() # only first letter of the word is capital letter

'Rudra Prsad Bhuyan'

In [70]:
a.upper()

'RUDRA PRSAD BHUYAN'

In [71]:
'Rudra Prasad Bhuyan'.swapcase()

'rUDRA pRASAD bHUYAN'

In [72]:
'Rudra Prasad Bhuyan'.upper()

'RUDRA PRASAD BHUYAN'

In [73]:
'Rudra Prasad Bhuyan'.lower()

'rudra prasad bhuyan'

- count
- find
- index

In [74]:
'My name is Rudra Prasad Bhuyan'.count('a')

5

In [ ]:
'My name is Rudra Prasad Bhuyan'.find('Rudra') # starting index
# if the output is -1 then not exit

11

In [78]:
'My name is Rudra Prasad Bhuyan'.index('z') 

# showing error if hte string iss not present

ValueError: substring not found

In [79]:
# index show error if string not exit
# find show-1

- endwith
- startwith

In [80]:
'My name is Rudra Prasad Bhuyan'.endswith('z')

False

In [81]:
'My name is Rudra Prasad Bhuyan'.startswith('My')

True

- format

In [82]:
name = 'Rudra'
age = 20
'My name is {} and my age is {}'.format(name, age)

'My name is Rudra and my age is 20'

- isalnum
- isalpha
- isdigit
- isidentifier

In [83]:
'Rudra_1234'.isalnum()

False

In [84]:
'Rudra_1234$%'.isalnum()

False

In [85]:
'Rudra_1234'.isalpha()

False

In [86]:
'Rudra_1234'.isdigit()

False

In [87]:
'1234'.isdigit()

True

In [88]:
'Rudra'.isidentifier()

True

- split
- join

In [89]:
'My name is Rudra Prasad Bhuyan'.split()

['My', 'name', 'is', 'Rudra', 'Prasad', 'Bhuyan']

In [90]:
'My name is Rudra Prasad Bhuyan'.split('a')

['My n', 'me is Rudr', ' Pr', 's', 'd Bhuy', 'n']

In [91]:
' '.join(['My', 'name', 'is', 'Rudra', 'Prasad', 'Bhuyan'])

'My name is Rudra Prasad Bhuyan'

In [92]:
' ---'.join(['My', 'name', 'is', 'Rudra', 'Prasad', 'Bhuyan'])

'My ---name ---is ---Rudra ---Prasad ---Bhuyan'

- replace

In [93]:
'My name is Rudra Bhuyan'.replace('Rudra', 'Nitesh')

'My name is Nitesh Bhuyan'

- Strip

In [94]:
'    My name is Rudra Prasad Bhuyan    '.strip()

'My name is Rudra Prasad Bhuyan'

# String Question

In [95]:
# find the length of a given string without using len() function

a = input('ENter the string :')

count = 0

for i in a:
  count +=1

print('Length of the strings is :', count)

Length of the strings is : 6

In [ ]:
# Extract username from a given email.
# eg- if the email is rudraprasadbhuyan000@gmail.com ,
# then the username should be rudraprasadbhuyan000

a = input ('Enter your Email :')
pos = a.index('@')
print(a[0:pos])

Enter your Email :rudraprasadbhuyan000@gmail.com
rudraprasadbhuyan000

In [ ]:
# Write a program which can remove a particular character from a string.
# eg - 'hello how are you ' is string the frequency of h in this string is 2.

a = input('Enter the string :')
term = input('Enter the character you want to search :')

counter = 0
for i in a :
  if i in term:
    counter +=1

print(f'Frequency of {term} is {counter}')

Enter the string :rudra prasad bhuyan
Enter the character you want to search :a
Frequency of a is 4

In [ ]:
# write a program which can remove a particular character from a string.

a = input('Enter the string  :')
term = input('Enter the character you want to remove :')

result = ''
for i in a :
  if i != term :
    result = result + i

print(result)

Enter the string  :rudra
Enter the character you want to remove :d
rura

In [ ]:
# write a program which can check whether a given string is palindrome or not.
# abba , malayalm, racecar

# m-1
a = input ('Enter the string :')

if a == a[::-1]:
  print('It is a palindrome')
else:
  print('It is not a palindrome')

Enter the string :racecr
It is not a palindrome

In [ ]:
# m-2
a = input ('Enter the string :')
b = ''

for i in a:
  b = i + b

if a == b:
  print('It is a palindrome')
else:
  print('It is not a palindrome')

Enter the string :mam
It is a palindrome

In [ ]:
#m-3
# https://pythontutor.com/

a = input ('Enter the string :')

flag = True
for i in range(0, len(a)//2):
  if a[i] != a[len(a) -i -1]:
    flag = False
    print('It is not a palindrome')
    break

if flag:
  print('It is a palindrome')

Enter the string :racecar
It is a palindrome

In [ ]:
# write a program to count the number of words in a string without split()

a = input('Enter the string :')
list = []
temp = ''

for i in a:
  if i != ' ':
    temp = temp + i
  else:
    list.append(temp)
    temp = ''

list.append(temp)
print(list)

Enter the string :rudra prasad huan
['rudra', 'prasad', 'huan']

In [ ]:
# write a python program to covert a string to title case without using title()

a = input('Enter the string :')
list =[]

for i in a.split():
  list.append(i[0].upper() + i[1:].lower() )

print(' '.join(list))

Enter the string :hi HoW ArE YOU
Hi How Are You

In [ ]:
# write a program that can covert an integer ti string

num = int(input('Enter the number :'))

digits = '0123456789'
result = ''
while num != 0:
  result = digits[num % 10] + result
  num = num // 10

print(result)
print(type(result))

Enter the number :6546
6546
<class 'str'>