Hello Data points ðŸ˜„


# My Class Notes

**By Rudra**

> Hi everyone, these are my class notes from one of my favorite teachers, Nitesh sir.



Class- [Link](#https://www.youtube.com/live/WmbU3WBaoR0?si=mGcik_2LAEoTRO1h)

# 1. Lists



list is a data type where you can store multiple items in a single variable.dynamic array.


**Arry vs lists**

pro:
- fixed vs Dynamic
- Convienace -> heterogeneous

cons:
- speed of Execution
- Memory

In [1]:
l = [1, 2, 3]
# id helps to print the  memory
# referential array

print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

print(id(1))
print(id(2))
print(id(3))

1539262111744
140733521926584
140733521926616
140733521926648
140733521926584
140733521926616
140733521926648

**Characterstics of a List**


- Ordered
- Changeable/Mutable
- Hetrogeneous
- Can be duplicated
- are Dynamic
- can be nested
- items can be accessed by index
- can contain any datatype in python

# Creating a lists

In [3]:
# empty
print([])
L= []
print(L)


# 1D ->
L = [1, 2, 3, 4, 5]
print(L)

# 2D ->
L = [1, 2, 3, [4, 5, 6]]
print(L)

# 3D ->
L = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(L)

# Heterogenous
print(1, True, 5.9, 5+3j, 'z')

# using type conversion
print(list('hello'))
print(list({1, 2, 3}))

[]
[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
1 True 5.9 (5+3j) z
['h', 'e', 'l', 'l', 'o']
[1, 2, 3]

# Accessing items from a List
- Indexing
- Slicing

In [4]:
l = [1, 2, 3, 4, 5]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])

1
2
3
4
5

# Accessing items from a lists

In [6]:
k = [1, 3, 5, 7, 9]
print(k[4])

9

In [7]:
w =  [1, 2, 3 ,4, [5, 6]]
print(w[-1][-1])

6

In [8]:
o = [[12, 4, 5 ],
     [24, 5, 9, 0],
      [ [45, 67],
        [24, 69] ]
     ]

print(o[2][1][1])

69

In [9]:
v = [1, 3, 5, 8, 9, 2]
print(v[1::1])

[3, 5, 8, 9, 2]

# Adding items to a List

In [98]:
v.append(True)
print(v)

[2, 3, 4, True]

In [99]:
v.extend([2, 4, 5, 6, 9])
print(v)

[2, 3, 4, True, 2, 4, 5, 6, 9]

In [100]:
v.append([3, 56, 67])
print(v)

[2, 3, 4, True, 2, 4, 5, 6, 9, [3, 56, 67]]

In [101]:
v.extend('Odisha')
print(v)

[2, 3, 4, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a']

In [102]:
v.append(["Odisha"])
print(v)

[2, 3, 4, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha']]

In [103]:
# insert
# index place, what to place

v.insert(0, 'hello')
print(v)

['hello', 2, 3, 4, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha']]

# Editing

In [19]:
v[1] = 'Rudra'
print(v)

['hello', 'Rudra', 3, 5, 8, 9, 2, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha'], ['Odisha'], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha']]

In [20]:
v[3:5] = [300, 400, 500]
print(v)

['hello', 'Rudra', 3, 300, 400, 500, 9, 2, True, 2, 4, 5, 6, 9, [3, 56, 67], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha'], ['Odisha'], 'O', 'd', 'i', 's', 'h', 'a', ['Odisha']]

# deleting items
- del
- reomve
- pop
- clear

In [21]:
h = [1,2,3,4,5,6,7,8,9]
del h[0]
print(h)

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
del h[:3]
print(h)

[5, 6, 7, 8, 9]

In [23]:
# reomve

h.remove(8)
print(h)

[5, 6, 7, 9]

In [24]:
# pop

h.pop(0)
print(h)

[6, 7, 9]

In [25]:
# del last value
# deflut is -1 (Last is deleted)
h.pop()
print(h)

[6, 7]

In [26]:
# clear
# empty the list

h.clear()
print(h)

[]

# Operations on Lists
- Arithmetic
- Membership
- Loop

In [27]:
# Arithmetic ( +, *)

l1 = [1, 2, 3]
l2 = [4, 5, 6]

print(l1 + l2)
print(l1 * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# Membership

print(1 in l1)
print(1 not in l1)

True
False

In [29]:

k = [1, 2, 3, [4, 5, 6]]
print([4, 5, 6] in k)

True

In [30]:
# loop

for i in k:
  print(i)

1
2
3
[4, 5, 6]

In [33]:
o = [
     [12, 4, 5 ],
     [24, 5, 9, 0],
     [ [45, 67],
       [24, 69] ]
     ]

for i in o:
  print(i)

[12, 4, 5]
[24, 5, 9, 0]
[[45, 67], [24, 69]]

# List Function
- len/ min/ max/ sorted
- count
- reverse
- sort (vs sorted )
- copy
-

In [34]:
r1 = [1, 2, 3, 4, 5]
print('Length of the function is :', len(r1))
print('Minimum item in the function is :', min(r1))
print('Maximum item in  the function is :', max(r1))
print('Sorted of the function is :', sorted(r1)) # reverse = True (parameter)

Length of the function is : 5
Minimum item in the function is : 1
Maximum item in  the function is : 5
Sorted of the function is : [1, 2, 3, 4, 5]

In [35]:
# count
r2 = [2, 3, 4, 5, 2, 4, 2, 3, 2, 1, 3]
print(r2.count(2))
print(r2.count(3))

4
3

In [36]:
r3 = [1, 2, 3, 4, 1, 5,  5]
r3.index(2)
r3.index(5) # first occurrence

5

In [37]:
r4 = [1, 2, 3, 4, 5]
r4.reverse() # permanent 
print(r4)

[5, 4, 3, 2, 1]

In [59]:
# sorted -> permanent
# sort -> temporary

r5 = [1, 2, 3, 4, 5]
print(r5)
print(sorted(r5))
print(r5)

r5.sort()
print(r5)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [60]:
# copy
# deep copu / shallow copy
r6 = [1, 2, 3, 4, 5]
r7 = r6.copy()
print(r6)
print(r7)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# List Comperehension
```
new_list = [ Expression for item in iterable if condition == True ]
```
it provie a consie way of creting lists.

In [67]:
l1: list[int] = []

for i in range(1, 11):
    l1.append(i)

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
l: list[int] = [ i for i in range(1, 11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
l: list[int] = [ i**2 for i in range(1, 11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
v = [2, 3, 4 ]
s = -3
l3 = [i*s for i in v]
print(l3)

[-6, -9, -12]

In [74]:
v: list[int]= [2, 3, 4]
s: int = -5

l3 = [i*s for i in v]
l3

[-10, -15, -20]

In [75]:
# add square

l4 = [i**2 for i in range(1, 6)]
print(l4)

[1, 4, 9, 16, 25]

In [76]:
l5: list[int] = [i for i in range(1, 52) if i % 5== 0]
l5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [80]:
# words start with p
words: list[str] = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'python', 'php', 'pandas']
l6 = [ i for i in words if i.startswith('p')]
l6

['python', 'php', 'pandas']

In [81]:
# nested if

l7 = [ i for i in range(1, 101) if i%5 == 0 if i%8 == 0]
l7

[40, 80]

In [47]:
# nested if

l7 = [i for i in range(1, 101) if i%5 == 0 if i%7 == 0]
print(l7)

[35, 70]

In [85]:
[[i*j for i in range(1, 3)] for j in range(1, 3)]

[[1, 2], [2, 4]]

In [86]:
# matrix

[ [i*j for i in range(1, 4)] for j in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [90]:
# pair

h: list[int] = [1, 2]
k: list[int] = [5, 9]

l8 = [(i, j) for i in h for j in k]
l8

[(1, 5), (1, 9), (2, 5), (2, 9)]

In [49]:
# pairing
g = [1, 2, 3]
h = [4, 5, 6]
l8 = [(i, j) for i in g for j in h]
print(l8)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [50]:
# cartesian product

g = [1, 2, 3]
h = [4, 5, 6]
l9 = [ i*j for i in g for j in h]
print(l9)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

# 2 way to traverse a list
- iteam-wise
- index-wise

In [51]:
# item wise

for l in l9:
  print(l)

4
5
6
8
10
12
12
15
18

In [91]:
# idexwise
y = [1, 2, 3, 4, 5]

for i in range(0, len(y)):
  print(y[i])

1
2
3
4
5

In [53]:
# idexwise
y = [1, 2, 3, 4, 5]

for i in range(len(y)):
  print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# Zip

- The zip function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together.
  
- Then the second item in each passed iterator are paired together
and then the second item in each passed iterator are paired together etc.

- If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [93]:
b1 = [1, 2, 3]
b2 = [4, 5, 6, 4]

print(list(zip(b1, b2)))

[(1, 4), (2, 5), (3, 6)]

In [56]:
[i+j for i,j in zip(b1, b2)]

[5, 7, 9]

In [96]:
[i**j for i, j in zip(b1, b2)]

[1, 32, 729]

In [97]:
m = [1, 7, True, 5+3j, input, 'hello', print, 'print']
print(m)

[1, 7, True, (5+3j), <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000016661C77170>>, 'hello', <built-in function print>, 'print']

In [58]:
a = [1, 2, 3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]